@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');


body{
    background-color: #1a0e35;
    font-family: 'Poppins', sans-serif;
}

header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 64px;
}

.left-corner {
    margin-left: 10px;
    font-weight: bold;
    color: #fff;
    font-size: 30px;
}

.right-corner {
    margin-right: 10px;
    font-weight: bold;
    color: #fff;
    font-size: 30px;
}



content {
    padding: 35px;
    margin-top: 80px;
    height: 200vh;
    text-align: center;
}

label {
    font-size: 22px;
    font-weight: bold;
    padding-left: 10px;
}


input {
    background:transparent;
    margin-top: 10px;
    font-size: 20px;
    color: #fff;
    font-weight: bold;
    border: none;
    outline: none;
    border-bottom: 2px solid #fff;
}

.input-box{
    position: relative;
    margin-top: 55px;
    outline: none;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.input-box input:focus,
.input-box input:valid {
    border-bottom-color:#21d3a3;
}
form {
    margin-top: 200px;
    margin-bottom: 100px;
    color: #fff;
    max-width: 100%;
}

a {
    text-decoration: none;
    color: #fff;
  }
  
button {
    margin-top: 20px;
    margin-bottom: 20px;
    border:none;
    width: 250px;
    font-weight: bold;
    font-size: 22px;
    color: #fff;
    background-color: #21d3a3;
    height: 45px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

